.Reply-container{
    position: fixed;
    z-index: 3;
    top: 70%;
    left: 0;
    bottom: 0%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    background-color: var(--dark-background);
    animation: slide-in 500ms ease;
}
.Reply-container label{
    width: 90%;
    height: 60%;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
}
.Reply-container textarea{
    width: 90%;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    height: 60%;
    padding: 10px;
    resize: none;
    border: none;
    outline: none;
    background-color: black;
}
.Reply-container .reply-btn-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.Reply-container .reply-btn-container p{
    cursor: pointer;
    color: white;
    padding-left: 10px;
}
.Reply-container .reply-btn-container button{
    cursor: pointer;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
@keyframes slide-in {
    0%{
        opacity: 0;
        transform: translateY(250px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes slide-out {
    0%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        transform: translateY(250px);
    }
}

@media only screen and (max-width: 900px) {
    .Reply-container{
        top: 65%;
    }
    .Reply-container label{
        margin: 0px 10px;
        width: 90%;
        height: 150px;
    }
    .Reply-container label textarea{
        font-size: 15px;
    }
    .Reply-container label .reply-btn-container{
        padding-right: 10px;
    }
}
