.Not-needed{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
}
.Create{
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
    color: black;
    background-color: transparent;
    margin-top: 50px;
    margin-right: 20%;
    height: fit-content;
    width: 25vw;
    color: black;
    padding: 50px 30px;
    transition: all 1s ease;
}
.Create .password-container{
    display: flex;
    align-items: center;
    height: 40px;
}
.Create input{
    background-color: transparent;
    transition: all 1s ease;
    border-width: 0px 0px 1px 1px;
    padding: 5px;
    color: black;
    width: 70%;
    height: 25px;
    box-shadow: -5px 5px black;
    border-radius: 0px 5px;
}
input:focus{
    outline: none;
}
.Create .toggleVis{
    cursor: pointer;
    fill: black;
    height: 30px;
    padding: 5px;
    fill: rgb(68, 68, 68);
}
.Create .toggleVis:hover{
    fill: rgb(158, 158, 158);
}
.Create-btnc{
    height: 50px;
    margin-top: 10px;
    padding: 10px 0px;
}
.Create-btnc .popup-bg{
    position: relative;
    border-radius: 5px;
    width: 50%;
    height: 100%;
    background-color: black;
}
.Create-btnc button{
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 13px;
    font-family: Merriweather;
    text-align: center;
    background: linear-gradient(to left, #0004ff, steelblue ,steelblue);
    background-size: 300%;
    border-radius: 5px;
    border: none;
    transition: .5s;
}
.Create-btnc button:hover{
    bottom: 10%;
    left: 5%; 
    background-position: right;
} 
.Create-btnc button span{
    color: black;
    transition:all .5s ease;
}
.Create-btnc button span.active{
    color: white;
}
#Warning-Text{
    background-color: white;
    padding: 10px;
    margin-left: 10px;
    font-size: 10px;
    border-radius: 5px;
    box-shadow: -5px 5px black;
    transition: 1s;
    color: black;
    animation: opa 1s ease-in-out;
}
@keyframes opa {
    from{
        opacity: 0;
    }
    to{
        opacity: .5;
    }
}
.field-info{
    display: flex;
}
.feedback-container{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.feedback-container #overlay{
    position: fixed;
    background-color: black;
    opacity: .6;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#feedback{
    position: fixed;
    border-radius: 5px;
    top: 200px;
    padding: 20px;
    width: 15%;
    height: 15vh;
    background-color: rgba(255, 255, 255, 0.808);
    animation: slidein 1s ease;
}
#feedback p{
    font-size: 20px;
    color: black;
}
@keyframes slidein {
    0%{
        opacity: 0;
        transform: translateY(-400px) rotate(-150deg);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) rotateY(0deg);
    }
}
@keyframes slideout {
    0%{
        opacity: 1;
        transform: translateY(0px) rotate(0deg);
    }
    100%{
        opacity: 0;
        transform: translateY(-400px) rotate(-150deg);
    }
}

.Create .Profile-review{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 100px;
    margin-bottom: 10%;
}  
.Create .Profile-review img{
    width: 80%;
    transition: all 200ms ease;
    cursor: pointer;
}
.Create .Profile-review img:hover{
    transition: all 200ms ease;
    width: 100%;
}
.Create .refresh svg{
    fill: rgb(0, 0, 72);
    cursor: pointer;
}
.Create .refresh svg:hover{
    fill: black;
}
.Create .Profile-review .select-avatar.active{
    width: 100%;
}

@media screen and (max-width: 1000px){
    .Credentials-container{
        justify-content: center;
    }
    .Not-needed{
        justify-content: center;
    }
    .Create{
        border: none;
        box-shadow: none;
        width: 35%;
        height: fit-content;
        margin: 0%;
    }
}   
@media screen and (max-width: 500px){
    .Credentials-container{
        justify-content: center;
    }
    .Create{
        margin-top: 0% ;
        padding: 0%;
        width: 60%;
        /* height: fit-content; */
        border: none;
    }
    #Login-feedback{
        width: 50%;
        display: flex;
        align-items: center;
    }
}