.Loading-container {
  position: relative;
  width: 100%;
  /* height: 100%; */
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Loading-container .Loading {
  position: fixed;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
.Loading:nth-child(1) {
  color: white;
  text-shadow: -4px 0px blue;
  animation: glitch 2s infinite alternate-reverse;
}
.Loading:nth-child(2) {
  color: white;
  text-shadow: -4px 0px greenyellow;
  animation: glitch2 2s infinite alternate-reverse;
}
.Loading:nth-child(3) {
  color: white;
  text-shadow: -4px 0px red;
  animation: glitch3 2s infinite alternate-reverse;
}
.Loading:nth-child(4) {
  color: white;
  text-shadow: -4px 0px magenta;
  animation: glitch4 2s infinite alternate-reverse;
}
@keyframes glitch {
  0% {
    clip-path: inset(90px 0px 11px 0px);
  }
  15% {
    clip-path: inset(10px 0px 41px 0px);
  }
  50% {
    clip-path: inset(32px 0px 18px 0px);
  }
  70% {
    clip-path: inset(50px 0px 14px 0px);
  }
  100% {
    clip-path: inset(0px 0px 1px 0px);
  }
}
@keyframes glitch2 {
  0% {
    clip-path: inset(10px 0px 21px 0px);
  }
  15% {
    clip-path: inset(90px 0px 41px 0px);
  }
  50% {
    clip-path: inset(60px 0px 81px 0px);
  }
  70% {
    clip-path: inset(42px 0px 18px 0px);
  }
  100% {
    clip-path: inset(60px 0px 44px 0px);
  }
}
@keyframes glitch3 {
  0% {
    clip-path: inset(10px 0px 1px 0px);
  }
  15% {
    clip-path: inset(90px 0px 64px 0px);
  }
  50% {
    clip-path: inset(100px 0px 81px 0px);
  }
  70% {
    clip-path: inset(0px 0px 41px 0px);
  }
  100% {
    clip-path: inset(32px 0px 98px 0px);
  }
}
@keyframes glitch4 {
  0% {
    clip-path: inset(50px 0px 11px 0px);
  }
  15% {
    clip-path: inset(20px 0px 41px 0px);
  }
  50% {
    clip-path: inset(32px 0px 18px 0px);
  }
  70% {
    clip-path: inset(90px 0px 44px 0px);
  }
  100% {
    clip-path: inset(40px 0px 21px 0px);
  }
}
