.nav-lines-container {
  width: 100px;
  min-height: fit-content;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
  position: fixed;
}
.nav-lines-container .nav-lines{
  display: block;
  border-radius: 5px;
  width: 30%;
  height: 5%;
  margin: 10%;
  padding: 2px;
  background-color: orange;
  transition: 600ms all ease;
}
.nav-lines-container .nav-lines.active{
    transition: 600ms all ease;
}
/* .nav-lines-container:hover .nav-lines{
    box-shadow: 1px 1px 5px red;
} */

.nav-lines-container .nav-lines.active:first-child {
    transform: rotate(135deg) translate(20%, -100%);
}
.nav-lines-container .nav-lines.active:last-child {
    transform: rotate(45deg) translate(-20%, -100%);
}
.navbar-container {
  display: none;
}
.navbar-container.active {
  display: block;
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.73);
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 99;
}
.navbar-container.active .navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 0px 0px 5px 0px;
  padding: 15px 10px;
}
.navbar-container.active .navbar .navbar-content{
  position: relative;
  width: 100%;
  height: 10%;
  color: white;
  margin: 0px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  letter-spacing: 1px;
  transition: font-size 200ms ease;
}
.navbar-container.active .navbar .navbar-content:hover{
  transition: font-size 200ms ease;
  font-size: 25px;
}
.navbar-container.active .navbar .navbar-content p, .navbar-container.active .navbar .navbar-content a{
  display: flex;
  margin: 0px;
  align-items: center;
}
.navbar-container.active .navbar .navbar-content .icons{
  position: absolute;
  fill: url("#myGradient");
  right: 70%;
  bottom: 35%;
  width: 50px;
  transform: rotate(45deg);
  opacity: 0;
  transition: all 200ms ease;
}
.navbar-container.active .navbar .navbar-content:hover .icons{
  transition: all 300ms ease;
  opacity: 1;
  transform: rotate(-.3turn);
  transform: translateX(-15px); 
}
.navbar-container.active .navbar .search #search-bar {
  opacity: 0;
  position: absolute;
  width: 0px;
  transform: translateX(40px);
  transition: all 200ms ease;
}
.navbar-container.active .navbar .search #search-bar.active {
  opacity: 1;
  position: absolute;
  width: 300px;
  transform: translateX(200px);
  transition: all 200ms ease;
}
.searchbar-container {
  display: none;
  z-index: 100;
}
.searchbar-container.active {
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 50px;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.searchbar-container.active::after{
  content: "";
  background-color: rgba(0, 0, 0, 0.679);
  z-index: -1;
  position: inherit;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
} 
.searchbar-container.active input[type="search"] {
  position: fixed;
  border: none;
  width: 60%;
  height: 15%;
  border-radius: 5px;
  padding: 30px 10px;
  font-size: 30px;
}
.navbar-container.active .navbar .navbar-content #Profile-pic {
  position: absolute;
  border-radius: 50px;
  right: 70%;
  bottom: 35%;
  opacity: 0;
  width: 30px;
  /* transform: translate(10px) rotate(0deg); */
  transition: all 500ms ease;
}
.navbar-container.active .navbar .navbar-content:hover #Profile-pic {
  opacity: .9;
  transform: translate(-20px);
  transition: all 500ms ease;
}
.navbar-container.active .navbar .user-profile .Please-Login .Login-Signup {
  color: white;
  padding: 10px 0px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.navbar-container.active
  .navbar
  .user-profile
  .Please-Login
  .Login-Signup:hover {
  text-shadow: 0px 0px 5px blue, 0px 0px 7px blue;
}
.navbar-container.active .navbar .logOut a {
  text-decoration: none;
  color: white;
}
.navbar-container.active .navbar .logOut a:hover {
  color: lightblue;
}
#new-post {
  display: none;
}
#new-post.active {
  display: block;
  z-index: 99;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.595);
  width: 100%;
  width: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
}
#new-post.active #textarea-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.599);
}
#new-post #textarea-container .post-container {
  background-color: black;
  border: 1px solid blue;
  padding: 10px;
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
#new-post.active #content {
  border: none;
  color: white;
  background-color: black;
  width: 70%;
  height: 70%;
  padding: 30px;
  font-size: 20px;
  border-radius: 5px;
  resize: none;
  box-shadow: none;
  outline: none;
}
#new-post.active #content.warning::placeholder {
  color: red;
}
  #new-post.active
  #textarea-container
  .button-container {
  height: 100%;
}

#new-post.active
  #textarea-container
  .button-container
  #cancel {
  text-align: end;
  cursor: pointer;
}
#new-post.active .Post-btn-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#new-post.active .Post-btn-container #Post-btn {
  padding: 15px 25px;
  text-align: center;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 81, 255);
}
#new-post.active #Post-btn:hover {
  cursor: pointer;
  background-color: blue;
  transition: all 600ms ease;
}
#new-post.active #upload-img {
  background-color: red;
  padding: 10px;
  border-radius: 5px;
}
#new-post.active .upload-container {
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#new-post.active .upload-container label {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
#new-post.active .upload-container label:hover {
  transition: 500ms all ease;
}
#new-post.active .upload-container #fileSelected {
  margin-top: 10%;
  width: 90%;
  text-align: center;
}
.navbar-container.active .navbar .tag {
  opacity: 0;
  position: absolute;
  color: var(--dark-text);
  width: 0px;
  font-size: 15px;
  transform: translateX(45px);
  transition: all 200ms ease;
}
.navbar-container.active .navbar .tag.active {
  opacity: 1;
  width: 70px;
  transform: translateX(90px);
  transition: all 200ms ease;
}

@media only screen and (max-width: 800px){
  #new-post.active{
    height: 100%;
  }
  #new-post.active #textarea-container .post-container{
    height: 300px;
    width: 85%;
  }
  #new-post.active #textarea-container .post-container textarea{
    font-size: 15px;
  }
  #new-post.active #textarea-container .post-container .button-container .Post-btn-container #Post-btn{
    padding: 10px 15px;
    font-size: 12px;
  }
  #new-post.active #textarea-container .post-container .button-container .Post-btn-container .upload-container label{
    font-size: 10px;
  }
  #new-post.active #textarea-container .post-container .button-container .Post-btn-container .upload-container #fileSelected{
    font-size: 10px;
  }
}